.shop-item { background-color: white; }
.shop-item .item-info { padding: 10px; }
.shop-item .item-info a { width: 100%; display: block; color: black; text-decoration: none; font-weight: normal; }
.shop-item .item-info .city-brothel-phone { color: red; text-decoration: underline; }
@media (max-width: 1200px) { .shop-item .item-info .city-brothel-phone { display: none; } }
.shop-item .item-info .city-brothel-address, .shop-item .item-info .city-brothel-website { color: #999; min-height: 20px; }
.shop-item .item-info .city-brothel-website a { color: #666; }
.shop-item .item-info .city-brothel-desc { color: black; margin-top: 10px; }
.shop-item .item-info h3 a { font-weight: bold; min-height: 52px; }
.shop-item .item-image .city-mobile-brothel-image { display: none; }
@media (max-width: 1200px) { .shop-item .item-image .city-mobile-brothel-image { display: block; } }
.shop-item .item-image .city-desktop-brothel-image { display: blbck; }
@media (max-width: 1200px) { .shop-item .item-image .city-desktop-brothel-image { display: none; } }
.shop-item .city-brothel-bottom { border-top: 1px solid #ccc; }
.shop-item .city-brothel-bottom i { font-size: 16px; margin-left: 10px; }
.shop-item .city-brothel-bottom .city-brothel-bottom-right, .shop-item .city-brothel-bottom .city-brothel-bottom-left { width: 50%; padding: 20px 0; float: left; background-color: white; }
.shop-item .city-brothel-bottom .city-brothel-bottom-right { background-color: #ccc; text-align: center; color: black; text-decoration: none; }
.shop-item .city-brothel-bottom .city-brothel-bottom-left { padding: 20px 10px; color: black; }
.shop-item .city-brothel-bottom .city-brothel-bottom-left p { font-weight: normal; }
.shop-item .city-brothel-bottom .city-brothel-bottom-left i { font-size: 16px; margin-left: 10px; }
.shop-item .related-brothel .city-brothel-address { min-height: 40px; }
.shop-item .related-brothel .city-brothel-bottom { border: 1px solid #ccc; }
.shop-item .related-brothel .city-brothel-bottom .city-brothel-bottom-left, .shop-item .related-brothel .city-brothel-bottom .city-brothel-bottom-right { padding: 10px; }
.shop-item .related-brothel .city-brothel-bottom .city-brothel-bottom-left { width: 100%; }

.single-brothel { background-color: #FFF !important; color: #333; }
.single-brothel .mobile-menu-fixed-spacer { height: 26px !important; }
.single-brothel .brothel-mobile-details { display: none; }
@media (max-width: 1200px) { .single-brothel .brothel-mobile-details { display: block; position: fixed; right: 0px; top: 25%; width: 50px; height: 50px; z-index: 2; background-color: #d33; border-radius: 5px 0 0 5px; color: #fff; text-align: center; font-size: 30px; padding: 5px; cursor: pointer; } }
.single-brothel .brothel-banner-image img { width: 100%; }
@media (min-width: 1201px) { .single-brothel .brothel-banner-image img { min-height: 55px; } }
.single-brothel .brothel-banner-image h1 { padding: 10px 40px; background-color: rgba(0, 0, 0, 0.5); display: block; position: absolute; margin: 0 12.5%; margin-top: -55px; width: 75%; }
@media (max-width: 1500px) { .single-brothel .brothel-banner-image h1 { width: 100%; margin: 0; margin-top: -55px; } }
@media (max-width: 1200px) { .single-brothel .brothel-banner-image h1 { margin: 0; margin-top: 0; position: relative; width: 100%; } }
.single-brothel .brothel-banner-image h1 span { position: absolute; right: 10px; font-size: 16px; border: 1px solid #5cb85c; padding: 8px; color: #5cb85c; }
.single-brothel .brothel-banner-image h1 span img { height: 20px; width: 20px; margin-top: -4px; }
@media (max-width: 550px) { .single-brothel .brothel-banner-image h1 span { display: none; } }
.single-brothel .brothel-description h3, .single-brothel .brothel-description p { font-weight: normal; }
.single-brothel .brothel-description h3 { color: #333; border-bottom: 1px solid #ccc; padding-bottom: 5px; }
.single-brothel .brothel-description .brothel-features-container { margin-bottom: 20px; }
.single-brothel .brothel-description .brothel-features-container .col-lg-3 .brothel-feature-container { border: 1px solid #999; width: 95%; margin: 10px 2.5%; padding: 5px; }
.single-brothel .brothel-description .brothel-features-container .col-lg-3 .brothel-feature-container p { text-align: center; color: #333; min-height: 40px; font-size: 13px; margin-bottom: 0; }
.single-brothel .brothel-description .brothel-features-container .col-lg-3 .brothel-feature-container img { margin: 5px auto; display: block; }
.single-brothel .brothel-location-container iframe { width: 100%; border: none; height: 400px; }
.single-brothel .brothel-service-container { border: 1px solid #ccc; padding: 10px; margin-top: 20px; position: fixed; }
@media (max-width: 1200px) { .single-brothel .brothel-service-container { right: -100%; top: 30%; background-color: #fff; width: 0px; } }
.single-brothel .brothel-service-container .brothel-service-address p, .single-brothel .brothel-service-container .brothel-service-web p { display: inline-block; margin-left: 10px; }
.single-brothel .brothel-service-container .brothel-service-address p a, .single-brothel .brothel-service-container .brothel-service-web p a { color: #999; }
.single-brothel .brothel-service-container .brothel-service-phone a { display: inline-block; margin-left: 10px; }
@media only screen and (max-width: 767px) { .single-brothel .brothel-service-container .brothel-service-phone .brothel-phone { display: none; } }
@media only screen and (max-width: 767px) { .single-brothel .brothel-service-container .brothel-service-phone .featured-phone-number { display: inline-block; } }
.single-brothel .brothel-service-container h3 { color: #333; border-bottom: 1px solid #ccc; padding-bottom: 5px; font-weight: normal; }
.single-brothel .brothel-service-container .brothel-service-hours table { width: 100%; }
.single-brothel .brothel-service-container .brothel-service-hours table tr td:first-child { width: 50%; }
.single-brothel .brothel-service-container .brothel-service-hours table tr td:nth-child(2) { text-align: right; }
.single-brothel .brothel-service-container .brothel-service-hours table tr td:nth-child(3) { text-align: center; }
.single-brothel .brothel-write-review-container { margin-bottom: 30px; /* hover previous stars in list */ }
.single-brothel .brothel-write-review-container form textarea { resize: none; height: 200px; background-color: #ccc; border-color: #999; }
.single-brothel .brothel-write-review-container form button { width: auto; }
.single-brothel .brothel-write-review-container .rating > input:checked ~ label, .single-brothel .brothel-write-review-container .rating:not(:checked) > label:hover, .single-brothel .brothel-write-review-container .rating:not(:checked) > label:hover ~ label { color: #FFD700; }
.single-brothel .brothel-write-review-container .rating > input:checked + label:hover, .single-brothel .brothel-write-review-container .rating > input:checked ~ label:hover, .single-brothel .brothel-write-review-container .rating > label:hover ~ input:checked ~ label, .single-brothel .brothel-write-review-container .rating > input:checked ~ label:hover ~ label { color: #FFED85; }
.single-brothel .total-stars .rating label::before { top: -43px !important; }
.single-brothel .brothel-reviews-container i { display: block; margin: 30px auto; }
.single-brothel .brothel-reviews-container .comment-container { margin: 10px 0; padding: 20px; border: 1px solid #ccc; }
.single-brothel .brothel-reviews-container .comment-container .comment-user-photo, .single-brothel .brothel-reviews-container .comment-container .comment-info { display: inline-block; }
.single-brothel .brothel-reviews-container .comment-container .comment-user-photo { width: 20%; padding: 10px; }
.single-brothel .brothel-reviews-container .comment-container .comment-user-photo img { max-width: 100%; height: auto; }
@media (max-width: 600px) { .single-brothel .brothel-reviews-container .comment-container .comment-user-photo img { vertical-align: bottom; } }
.single-brothel .brothel-reviews-container .comment-container .comment-info { width: 79%; }
.single-brothel .brothel-reviews-container .comment-container .replaced-checkboxes + label:before, .single-brothel .brothel-reviews-container .comment-container .replaced-radio-buttons + label:before { top: -18px; }
.single-brothel .brothel-service-social div { width: 30%; display: inline-block; }
.single-brothel .brothel-service-social div a { display: block; text-align: center; }

.hidden { display: none !important; visibility: hidden !important; }

.error { color: red; }

div.stars { /****** Style Star Rating Widget *****/ }
div.stars fieldset, div.stars label { margin: 0; padding: 0; }
div.stars body { margin: 20px; }
div.stars h1 { font-size: 1.5em; margin: 10px; }
div.stars .rating { border: none; float: left; width: 100%; height: 0; }
div.stars .rating > input { display: none; }
div.stars .rating > label:before { margin: 5px; font-size: 1.25em; font-family: FontAwesome; display: inline-block; content: "\f005"; box-shadow: none !important; }
div.stars .rating > .half:before { content: "\f089"; position: absolute; box-shadow: none !important; }
div.stars .rating > label { color: #ddd; float: right; }
div.stars .replaced-checkboxes + label:before, div.stars .replaced-radio-buttons + label:before { box-shadow: none !important; top: -37px; }
div.stars .replaced-checkboxes:checked + label:before, div.stars .replaced-radio-buttons:checked + label:before { background-color: transparent !important; box-shadow: none !important; }
div.stars .rating > input:checked ~ label { color: #FFD700; }

.auto-width { width: auto !important; right: 0 !important; }

.wpcf7 input, .wpcf7 textarea.wpcf7-textarea { color: black; }

/*# sourceMappingURL=brothels.css.map */
