/*
Theme Name: StereoClub Child Theme
Theme URI: http://themeforest.net/user/WPlook/portfolio
Description: Use this theme to start your StereoClub Child Theme development.
Author: Gabriel Lozano
Template: stereoclub-wpl
Version: 1.0.0.
*/

@import url('../stereoclub-wpl/style.css');

#counter .icon-eye {
   display:none!important;
}
.entry-header .entry-title {
    float: none!important;
    font-size:36px;
}
.text-class {
    float: left;
    width: 400px;
    margin-bottom: 25px;
    max-width: 100%;
}
.no-m-b .textwidget {
    padding: 20px!important;
}
iframe {
    border: 0;
}
.text-class:after {
    content: '';
    display: block;
}
#nextslide, #prevslide {
    display: none;
    opacity: 0;
}
#counter .icon-eye {
    display:none!important;
}
.views.fright {
    display:none;
}
/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    //background-image:url('http://www.brothels.com.au/wp-content/uploads/2014/04/smartphone_bak.jpg');
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
    //background-image:url('http://www.brothels.com.au/wp-content/uploads/2014/04/smartphone_bak.jpg');
}

/* added by John 20140410 */
/*
 * this snippet to fix responsive bugs
 *  when width is 1220px, 980px, 767px
 *  corresponding to StereoClub responsive styles
 */

.site-navigation .menu li a {
    padding: 19px;
}

#primary nav {
    margin: 0;
}

.widget .list-block-item,
.entry-content-list .list-block-item {
    height: 250px!important;
    overflow: hidden!important;
}

/* to regular navigator style */
.nav-next-text,
.nav-previous-text {
    position: relative;
    left: auto;
    display: block;
}

.nav-next-text { right: 10px; }
.nav-previous-text { left: 10px; }

.nav-next a,
.nav-next a:visited,
.nav-previous a,
.nav-previous a:visited {
    text-decoration: none;
    position: relative;
}

#counter {
    box-sizing:border-box;
    float:right;
    line-height:50px;
    margin-right:20px;
}
#counter > * {
    margin:10px;
}

@media screen and (max-width: 1220px) {
    .site-navigation .menu li a {
        font-size: 98%;
        padding: 19px 10px;
    }

    .widget .list-block-item,
    .entry-content-list .list-block-item {
        height: 300px!important;
    }
}


@media screen and (max-width: 980px) {
    .entry-content-list .list-block-item,
    #latest-posts-13.widget .list-block-item {
        width: 100%;
    }

    .widget .list-block-item,
    .entry-content-list .list-block-item {
        height: auto!important;
    }

    .widget .list-block-item:child {
        box-shadow: -1px -1px #CCCCCC inset;
    }

    .entry-content-list .list-block-item .entry-date,
    .entry-content-list .list-block-item .entry-thumb img,
    .widget .list-block-item .entry-date  {
        margin: 0 10px;
    }

    .entry-content-list .list-block-item .entry-description,
    .widget .list-block-item .entry-description {
        width: 100%;
        width: calc(100% - 110px);
    }

}

@media screen and (max-width: 767px) {

    .site-footer.container_12 .grid_4 {
        margin: 0px;
        width: 100%;
        background-color: #000;
    }

    .list-block-item .entry-thumb img,
    .list-block-item .entry-date {
        display: block;
    }


    #site-info .margins {
        padding: 0px;
    }

    .WPlookCD ul {
        margin: 0px;
    }

    #event_map {
        margin-bottom: 0px;
    }

    body {
        //background: url("http://www.brothels.com.au/wp-content/uploads/2014/04/smartphone_bak.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: url("http://www.brothels.com.au/wp-content/uploads/2014/04/smartphone_bak.jpg") repeat center top;
        -webkit-background-size: 680px 1359px; /* For WebKit*/
        -moz-background-size: cover;    /* Mozilla*/
        -o-background-size: cover;      /* Opera*/
        background-size: cover;         /* Generic*/
    }

    #top-wrapper-bak {
        background: url("http://www.brothels.com.au/wp-content/uploads/2014/04/smartphone_bak.jpg") no-repeat center center fixed;

        -webkit-background-size: cover; /* For WebKit*/
        -moz-background-size: cover;    /* Mozilla*/
        -o-background-size: cover;      /* Opera*/
        background-size: cover;         /* Generic*/
    }

    /* regular contact us input box */
    #contact-form #contactName,
    #contact-form #email,
    #contact-form #textarea-message {
        width: 95%;
    }

}

/* end by John 20140410 */

/* Added Gabriel */
.social-widget-body {
    height: 70px;
}

.social-widget-margin {
    padding-top: 15px;
    padding-left: 50px;
}

.grid_12 no-p-b {
    height: 340px;
}


@-moz-document url-prefix() {
    .social-widget-body {
        height: 70px;
    }

    .social-widget-margin {
        padding-top: 15px;
        padding-left: 50px;
    }

    .grid_12 no-p-b {
        height: 340px;
    }
}

.widget rpwe_widget recent-posts-extended .entry-title {
    color: #fff;
}

.rpwe-clearfix {
    height: 85px;
}

.entry-header {
    color: #FFFFFF;
}
/* Kevin 08/08/2014 */

.entry-header{

}
.entry-meta{
    line-height:16px;
}
.entry-meta .views {
    margin-top:0px;
}
#breadcrumbs{
    color:#fff;
    float:left;
}
#breadcrumbs ul{
    margin:0 0 0 20px;
}
#breadcrumbs li{
    float:left;
    list-style:none;
    margin-right:20px;
}
.listing_image {
    width: 100%;
    height: auto;
}
@media (min-width: 520px) {
    .listing_image {
        width: 150px;
    }
}






/*
// Custom footer /
*/



#about-us-wrapper{
    line-height: 2em;
}
#custome-footer{
    padding: 0px;
    margin: 0px;
    color: #000;
    display: block;
    opacity: 1;
}

#custome-footer .entry-title,
#custome-footer h1,
#custome-footer aside .entry-title
{
    text-transform: uppercase;
    padding: 10px 0px;
    font-size: 1.3em;
    float: none;
}
#custome-footer .entry-header,
#custome-footer h1,
#custome-footer aside .entry-header
{
    margin-top: 0px;
    background-color: #dd3333;
    text-transform: uppercase;
}
#custome-footer ul{
    margin: 0px;
}
#custome-footer li{
    list-style-type: none;
    margin-top: 0.6em;
    font-size: 1em;
}

#custome-footer .textwidget{
    background-color: #FFF;
    margin: 0px;
    padding:    5px 20px 10px 20px !important;
}

#custome-footer .entry-header a,
#custome-footer .entry-header a:hover,
#custome-footer .entry-header a:visited
{
    text-decoration: none;
    color: #FFF;
    margin: 0px;
    text-transform: uppercase;
}

#custome-footer .textwidget a,
#custome-footer .textwidget a:hover,
#custome-footer .textwidget a:visited
{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#custome-footer #social-in-footer i{
    color: #FFF;
}

#custome-footer aside{
    padding-bottom: 0px;
    margin: 0px;
    background-color: #FFF;
}
#custome-footer aside li{
    margin: 0px;
}


#custome-footer .social-widget-body{
    min-height: 100px;
    display: initial;
}


#custome-footer .social-widget-body a{
    margin: 20px;

}

#custome-footer .capital{
    text-transform: uppercase;
}


#custome-footer .no-title .entry-header{
    display: none;

}



#custome-footer  .social-widget-margin{
    display: block;
    padding: 0px 60px;
text-align: center;
}

.logo{
width:320px;
}
@media(max-width:320px){
.logo{
    width:280px;
    }
}
